:root {
	--backgroundColour: #efdb9e;
	--midgroundColour: #bdaf7e;
	--foregroundColour: #988c64;
}

#DesktopSplash
{
    height: 100dvh;
    width: 100dvw;
    background-color: var(--backgroundColour);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header
{

    display: flex;
    background-color: var(--midgroundColour);
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.headerImageWrapper
{
    width: 60px;
    aspect-ratio: 2;
}

.headerImage
{
    height: 100%;
    width: 100%;
}

.wrapper
{
    box-shadow: 0px 10px 10px var(--midgroundColour);
    height: 40dvh;
    aspect-ratio: 2;
    display: flex;
    background-color: var(--foregroundColour);
    font-family: "Chewy";
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* padding: 40px; */
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px;
}

.copy
{
    display: flex;
    flex-direction: column;
}

.desktopSplashHeading
{

}

.splashCopy
{

}

#CurrentURL
{
    font-size: 17px;
    font-weight: bold;
}
.QRContainer
{
    width: 25dvh;
    aspect-ratio: 1;
}

#QR
{
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

.footer
{
    line-height: 40px;
    text-align: center;
    color: white;
    width: 100%;
    height: 40px;
    background-color: var(--midgroundColour);
    justify-content: space-around;
    align-items: center;
}

.desktopSplashLink
{
    font-weight: bold;
}

.desktopSplashLink:link
{
    color: white;
}
.desktopSplashLink:visited
{
    color: white;
}
.desktopSplashLink:hover
{
    color: white;
}
.desktopSplashLink:active
{
    color: white;
}